<div>
  <div>
    <h3>Cadastrar um Jogador</h3>
    <form [formGroup]='player' (ngSubmit)="onSubmit()">
      <div class="form-group">
        <span>Nome Completo</span>
        <input
        type="text"
        class="form-control"
        formControlName="full_name"
        placeholder="Igor Afonso Nunes"
        >
      </div>

      <div class="form-group">
        <span>Apelido</span>
        <input
        type="text"
        class="form-control"
        formControlName="short_name"
        placeholder="Modesto"
        >
      </div>

      <div class="form-group">
        <span>Identificador do time:</span>
        <input
        type="number"
        class="form-control"
        formControlName="id_team"
        placeholder="1"
        >
      </div>
      <button class="btn btn-success" type="submit">Cadastrar</button>
    </form>

    <div *ngIf='isNewPlayer' class="card" style="width: 18rem; margin-top: 5%;">
      <div class="card-body">
        <h5 class="card-title">Jogador Criado</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nome: {{newPlayer?.full_name}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Apelido: {{newPlayer?.short_name}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Identificador: {{newPlayer?.id}}</h6>
      </div>
    </div>
  </div>
</div>
